#sidebar {
  background-color: lightblue;
  width: 200px;
  float: right;
  min-height: 500px;
}
#sidebar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-left: 60px;
}
#sidebar li {
  margin-top: 15px;
  list-style: none;
  padding: 5px;
}
